/.vs
Debug
Release
Bin
Obj
x64
Win32
.libs
.deps
*.dll
*.obj
*.o
*.la
*.lo
*.so
*.ilk
*.pdb
*.fasl
*.exe
*.res
*.swp
~*
*.wx32fsl
*.wx64fsl
*.suo
*.user
*.sdf
*.opensdf
*.log
Makefile.in
Makefile
aclocal.m4
autom4te.cache
m4
config.status
configure
libtool
/libmonitorxx_test/libmonitorxx_test
